/*
  Import Framework
*/

@import "framework/framework";

/*
  Base styles
*/

body {
  font-size: 1.2rem;
  line-height: 1.8em;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #fcfcfc;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

/*
  Heading examples don't need top margins
*/

.heading-example {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

/* 
  Highlighted grid for the kitchen sink
*/

.highlight-grids {

  .row,
  .grid.rows > * {
    border: 1px solid #c6c6c6;
    background: #eee;
    font-size: 0.8rem;
  }

  .row .column:nth-child(2),
  .row .columns:nth-child(2),
  .grid.rows > * > .column:nth-child(2),
  .grid.rows > * > .columns:nth-child(2) {
    background: #e1e1e1;
  }

  .row .column:not(:first-child),
  .row .columns:not(:first-child),
  .grid.rows > * > .column:not(:first-child),
  .grid.rows > * > .columns:not(:first-child) {
    border-left: 1px solid #c6c6c6;
  }

  .row .columns.offset-one,
  .row .columns.offset-two,
  .row .columns.offset-three,
  .row .columns.offset-four,
  .row .columns.offset-five,
  .row .columns.offset-six,
  .row .columns.offset-seven,
  .row .columns.offset-eight,
  .row .columns.offset-nine,
  .row .columns.offset-ten,
  .row .columns.offset-eleven {
    background: #e1e1e1;
    border-left: 1px solid #c6c6c6;
  }

}
