/* ========================================
                  BUTTONS
  ======================================== */

.button {
  display: inline-block;
  cursor: pointer;

  color: #555;
  background-color: transparent;
  border: 1px solid #bbb;

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  
  font-size: 0.65rem;
  line-height: 0.65rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  white-space: nowrap;

  min-height: 42px;
  padding: 16px 24px;
  
  @include border-radius(4px);
  @include box-sizing(border-box);
}

.button:hover,
.button:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

.button.small {
  @extend .button;

  font-size: 0.6rem;
  line-height: 0.6rem;
  font-weight: 400;

  min-height: 10px;
  padding: 10px 16px;
}

.button.big {
  @extend .button;

  font-size: 0.9rem;
  line-height: 0.9rem;
  font-weight: 600;

  min-height: 30px;
  padding: 20px 34px;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  @extend .button;
}

button:hover, 
input[type="submit"]:hover, 
input[type="reset"]:hover, 
input[type="button"]:hover {
  @extend .button:hover;
}

button:focus, 
input[type="submit"]:focus, 
input[type="reset"]:focus, 
input[type="button"]:focus {
  @extend .button:focus;
}

/* ========================================
              PRIMARY STYLES
  ======================================== */

.button.primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
}

.button.primary:hover,
.button.primary:focus {
  background-color: darken(#33C3F0, 10%);
  border-color: darken(#33C3F0, 10%);
}
