/* ========================================
              BUTTON ICONS
  ======================================== */

.button.icon > i {
  float: right; 
  line-height: inherit; 
  margin-right: 0;
  margin-left: 14px;
}

.button.small.icon > i {
  margin-left: 6px;
}

.button.big.icon > i {
  margin-left: 28px;
}

.button.icon-left > i {
  float: left; 
  line-height: inherit; 
  margin-left: 0;
  margin-right: 14px;
}

.button.small.icon-left > i {
  margin-right: 6px;
}

.button.big.icon-left > i {
  margin-right: 28px;
}

.button.icon-right {
  @extend .button.icon;
}

.button.small.icon-right {
  @extend .button.small.icon;
}

.button.big.icon-right {
  @extend .button.big.icon;
}
