pre > code,
xmp {
  display: block;
  font-family: monospace;
  font-size: 1.1rem;
  line-height: 1.1rem;
  background-color: #fefefe;
  border: 1px solid #eee;
  padding: 0 2rem;
  
  @include border-radius(4px);
}
