/* ========================================
                  FORMS
  ======================================== */

label {
  display: block;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.1rem;
  padding-bottom: 0.4rem;
}

select,
textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 8px 10px;
  min-width: 280px;

  border: 1px solid #ccc;

  @include border-radius(4px);

  &.expand { width: 100%; }
}

select,
input[type="text"],
input[type="email"],
input[type="password"] {
  height: 40px;
  background-color: #fff;
}

textarea {
  min-height: 100px;
}
