/* ========================================
                    GRID
  ======================================== */

.row:before,
.row:after,
.grid.rows > *:before,
.grid.rows > *:after {
  content: " ";
  display: table;
}

.row:after,
.grid.rows > *:after {
  content: " ";
  display: block;
  clear: both;
}

.row,
.grid.rows > * {
  display: block;

  .column,
  .columns {
    position: relative;
    float: left;
    width: 100%;

    @include respond-to(laptops-and-up) {
      &.offset-one    { margin-left: 8.33333%;  }
      &.offset-two    { margin-left: 16.66667%; }
      &.offset-three  { margin-left: 25%;       }
      &.offset-four   { margin-left: 33.33333%; }
      &.offset-five   { margin-left: 41.66667%; }
      &.offset-six    { margin-left: 50%;       }
      &.offset-seven  { margin-left: 58.33333%; }
      &.offset-eight  { margin-left: 66.66667%; }
      &.offset-nine   { margin-left: 75%;       }
      &.offset-ten    { margin-left: 83.33333%; }
      &.offset-eleven { margin-left: 91.66667%; }

      &.one     { width: 8.33333%;  }
      &.two     { width: 16.66667%; }
      &.three   { width: 25%;       }
      &.four    { width: 33.33333%; }
      &.five    { width: 41.66667%; }
      &.six     { width: 50%;       }
      &.seven   { width: 58.33333%; }
      &.eight   { width: 66.66667%; }
      &.nine    { width: 75%;       }
      &.ten     { width: 83.33333%; }
      &.eleven  { width: 91.66667%; }
    }
  }

  .column.end,
  .columns.end {
    float: right;
  }
}

.column,
.columns { padding: 10px; }

.column.collapsed,
.columns.collapsed { padding: 0; }

.grid.collapsed > .row,
.grid.rows > .collapsed,
.row.collapsed {
  .column,
  .columns { @extend .columns.collapsed; }
}

.grid.expand > .row,
.row.expand {
  margin-left: -10px;
  margin-right: -10px;
}

.column.padded,
.columns.padded { padding: 10px !important; }

.row.padded {
  .column, 
  .columns { @extend .columns.padded; }
}
