/* ========================================
            MEDIA QUERIES MIXINS
  ======================================== */

@mixin respond-to($media) {
  @if $media == phones {
    @media only screen and (max-width: 549px) { @content; }
  }
  @if $media == phones-and-up {
    @media only screen { @content; }
  }
  @else if $media == tablets {
    @media only screen and (max-width: 749px) and (max-width: 749px) { @content; }
  }
  @else if $media == tablets-and-up {
    @media only screen and (min-width: 550px) { @content; }
  }
  @else if $media == laptops {
    @media only screen and (min-width: 750px) { @content; } 
  }
  @else if $media == laptops-and-up {
    @media only screen and (min-width: 750px) { @content; } 
  }
}
