/* ========================================
                  TABLES
  ======================================== */

table {
  width: 100%;

  th {
    font-weight: 600;
    text-align: left;    
  }

  tr {
    border-bottom: 1px solid #dedede;
  }

  th,
  td {
    padding: 10px 0;
  }
}
