/* ========================================
                TYPOGRAPHY
  ======================================== */

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 { font-size: 3.4rem; }
h2 { font-size: 2.6rem; }
h3 { font-size: 2.0rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }
