/* ========================================
                IMPORTS
  ======================================== */

@import "lib/normalize";

@import "mixins";
@import "media-queries";

@import "grid";
@import "buttons";
@import "buttons-icons";
@import "typography";
@import "forms";
@import "tables";
@import "lists";
@import "code";

/* ========================================
                  BASE
  ======================================== */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

hr {
  border: 1px solid #eee;
}

br:before {
  display: block;
  content: "test";
}

section {
  margin: 60px 0;

  h1, h2, h3, h4, h5 {
    margin-top: 2.6rem;
  }
}

code, xmp,
form, table,
ul, ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul, ol {
  > ul, ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}
